<% include partials/header %>

<div id="certificate-page">
    <h1 class='cert-title'>I am a self taught programmer. These are some of my certificates.</h1>
    <div class="cert-container">
        <div class="certificate">
            <img class="cert-image" src="/images/ud-colt-cert.jpg" />
        </div>
        <div class="certificate">
            <img class="cert-image" src="/images/resp-web-dev.png" />
        </div>
        <div class="certificate">
            <img class="cert-image" src="/images/js-alg-data.png" />
        </div>
    </div>
</div>

<% include partials/footer %>