<% include partials/header %>

<div class="hero header">
    <img src="/images/jake_head.png" />
    <div class="hero-title">
        <h1>Jake Reck</h1>
        <h2>I am a Fullstack Web developer living in Seattle, WA.</h2>
    </div>
</div>

<div class="smaller-container">
    <div class="content">
        <h2><strong>About:</strong></h2>
        <p>
            I am currently a <!-- User Researcher at Microsoft -->, and do freelance web development on the side. When I am not burying my face 
            in my work, I like to spend my free time exploring the beautiful state of Washington. Whether it's hiking through the mountains or
            trying to find the best food/cup of coffee in the state and sippin' whiskey.
        </p>
    </div>
    
    <div class="content">
        <h2><strong>Skills:</strong></h2>
        <div class="skill-icons">
            <i class="fab fa-html5 skill"></i>
            <i class="fab fa-css3-alt skill"></i>
            <i class="fab fa-js-square skill"></i>
            <i class="fab fa-node-js skill"></i>
            <i class="fab fa-angular skill"></i>
            <i class="fab fa-react skill"></i>
        </div>
        <p>Other Skills:</p>
        <p>SQL, Databases, WordPress, JavaScript Frameworks, Ruby on Rails, Django/Python</p>
    </div>
</div>

<% include partials/footer %>