<% include partials/header %>

<div class="container insta-container">
    <div class="insta-title"></div>
    <h1 class='insta-title'>My Instagram Feed</h1>

    <div id="instafeed" class="gallery"></div>
</div>


<% include partials/footer %>