<% include partials/header %>

<div id="project-page">
    <div class="content container">
        <h1>My Current Projects</h1>

        <div class="project-box">
            <h3 class="project-title">TheraFind</h3>
            <p class="project-description">
                Currently still in development...
            </p>
            <a href="https://desolate-plains-65708.herokuapp.com/" class="project-button" target="_blank">Enter</a>
        </div>

        <div class="project-box">
            <h3 class="project-title">WormDirt Development</h3>
            <p class="project-description">
                Personal Website I made for my freelance business
            </p>
            <a href="http://wormdirtdevelopment.com/" class="project-button" target="_blank">Enter</a>
        </div>

        <div class="project-box">
            <h3 class="project-title">The Jim Reck Company</h3>
            <p class="project-description">
                Built With: NodeJS
            </p>
            <a href="http://www.jimreck.com" class="project-button" target="_blank">Enter</a>
        </div>

    </div>
</div>

<% include partials/footer %>