<% include partials/header %>

<div id="project-page">
    <div class="content container">
        <h1>My Current Projects</h1>
        <div class="project-box">
            <h3 class="project-title">CBPI - Redesign</h3>
            <p class="project-description">
                Redesign of my former employeers website
            </p>
            <a href="https://pure-escarpment-99866.herokuapp.com/" class="project-button">Enter</a>
        </div>
        <div class="project-box">
            <h3 class="project-title">Blue Light Social</h3>
            <p class="project-description">
                I came up with this website after working in the field for over 10 years and realizing
                that parents had no idea on how to find the resources around them.
            </p>
            <a href="https://secret-waters-11999.herokuapp.com/" class="project-button">Enter</a>
        </div>
        <div class="project-box">
            <h3 class="project-title">WormDirt Development</h3>
            <p class="project-description">
                Personal Website I made for my freelance business
            </p>
            <a href="http://wormdirtdevelopment.com/" class="project-button">Enter</a>
        </div>
        <div class="project-box">
            <h3 class="project-title">The Jim Reck Company</h3>
            <p class="project-description">
                A Node JS website
            </p>
            <a href="http://www.jimreck.com" class="project-button" target="_blank">Enter</a>
        </div>
    </div>
</div>

<% include partials/footer %>